{% include "django/forms/widgets/input.html" %}

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
	$(function() {
		$( "#price_slider" ).slider({
			range:false,
			min: 0,
			max: 100000,
			values: [0, 100000],
			step: 1000,
			slide: function( event, ui ) {
				$("input[name='{{ widget.name }}']").val(ui.values[0]);
			}
		});
	});
</script>